<% provide(:title, 'About Us') %>
<h1>About Us</h1>
  <p>Link Up is a charity based in London. This site is designed to connect young people with extracurricular activities in their neighbourhood.
</p>
