<%= render 'shared/search' %>
<% if signed_in? %>

  <% if current_user.admin? %>
    <div id="local-map">
      <%= gmaps4rails(@json) %>
    </div>
    <div id="diary-events">
      <p>Events in your diary go here</p>
    </div>
    <div id="news">
      <p>News feed goes here</p>
    </div>


<!-- Eventually get similarly personalised homepages for organisers and mentors. -->







  <% else %>
    <div id="local-map">
      <%= gmaps4rails(@json) %>
    </div>
    <div id="diary-events">
      <p>Events in your diary go here</p>
    </div>
    <div id="news">
      <p>News feed goes here</p>
    </div>
  <% end %>

<% else %>

  <div id="local-map">
    <%= gmaps4rails(@json) %>
  </div>
  <div id="popular-events">
    <p>New events go here</p>
  </div>
  <div id="popular-tags">
    <p>Tags go here</p>
  </div>

<% end %>
