<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're in, <%= @user.name %>!</h1>
    <p>
      Welcome to Link Up! Your account is now active.
    <br>
      You can get started right away by clicking <%= link_to 'here', @url %>
    <br>
      Thanks for joining and enjoy!
    <br>
      <i>The Link Up Team</i>
    </p>
  </body>
</html>
