<li>
  <span class="name and date"><%= link_to event.name, event_path(event.id) %> <%= event.start_time.to_s(:time_day) %>, <%= distance_of_time_in_words event.end_time, event.start_time %></span>
  <span class="description"><%= event.description %></span>
</li>
