<li>
  <%= gravatar_for venue %>
  <% if signed_in? && current_user.organiser? && current_user.id == venue.user_id %>
    <b><%= link_to venue.name, venue %></b>
  <% else %>
    <%= link_to venue.name, venue %>
  <% end %>
  <% if signed_in? && (current_user.admin? || current_user.id == venue.user_id) %>
    | <%= link_to "delete", venue, method: :delete,
                                  data: { confirm: "This will delete all associated events!\nYou sure?" } %>
  <% end %>
</li>
