@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$orange: #f7931e;
$yellow: #ffff00;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  $grayMediumLight: #eaeaea;
}

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  background-color: $orange;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 42px;
  min-height: 100%; 
  position: relative;
  background-color: #fff
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.image {
  padding: 6px;
  border:1px solid #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 90%;
}

.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 940px;
  .infowindow {
    text-align: left;
    background-color: $orange;
    color: white;
    a {
      color: $yellow;
      text-decoration: none
    }
  }
}

.gmaps4rails_map {
  width: 940px;
  height: 400px;
}

.login-box {
  float: right;
  width: 50%;
}



#map label {
  width: auto;
  display:inline;
}
#map img { max-width: none; }

top_container {
  float: top;
  border-width: 5px;
  border-style: solid;
  border-color: #00CCFF;
  width: 100%;
  height: 400px;
}

bottomleft_container {
  float: left;
  width: 50%;
}

bottomright_container {
  float: right;
  width: 50%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.my-head {
  padding-top: 0px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $orange;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff000;
    text-decoration: none;
  }
}

.user-bar, .top-bar {
    display: box;
    list-style-type: none;
}

.major-nav-btn li {
    display: inline;
    list-style-type: none;
}

.user-bar li, .top-bar li {
  float: right;
  padding-left: 20px;
  a {

    font-size: 15px;
    text-decoration: none;
    color: #888;
  }
}
.top-bar li {
  a {
    color: #ccc;
    font-size: 12px;
  }
}

.major-nav-btn {
  display: inline;
  list-style-type: none;
}

/* footer */

footer {
  float: bottom;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.link-up-btn {
  cursor:pointer;
  border-width:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
  text-align:center;
  width:150px;
  height:41px;
  padding-top:undefinedpx;
  padding-bottom:undefinedpx;
  font-size:15px;
  font-family:'Open Sans', sans-serif;
  color:#ffff00;
  background:#f7931e;
  -webkit-box-shadow: 0px 4px 0px 0px #D18B19;
  -moz-box-shadow:0px 4px 0px 0px #D18B19;
  box-shadow:0px 4px 0px 0px #D18B19;
  display:inline-block;
}.link-up-btn:hover{
  background:#ffc319;
  text-decoration: none;
  color:white;
}

.link-up-btn-secondary {

}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}
/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  /*width: 100%;*/
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

select {
  border: 1px solid #bbb;
  padding: 1px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Venues index */

.venues {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* events */

.events {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.name {
  display: block;
}
.description {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.activity-list {
  li {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }
}

/* Venues index */

.favourites {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Calendars */

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #fff;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}
