.ActiveButton{
  cursor:pointer;
  border-width:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
  text-align:center;
  width:150px;
  height:40px;
  padding-top:undefinedpx;
  padding-bottom:undefinedpx;
  font-size:15px;
  font-family:'Open Sans', sans-serif;
  color:#ffff00;
  background:#f7931e;
  -webkit-box-shadow: 0px 4px 0px 0px #D18B19;
  -moz-box-shadow:0px 4px 0px 0px #D18B19;
  box-shadow:0px 4px 0px 0px #D18B19;
  display:inline-block;
}.ActiveButton:hover{
  background:#ffc319;
  text-decoration: none;
  color:white;
}

.DeactiveButton{
  cursor:pointer;
  border-width:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align:center;
  text-decoration: none;
  width:150px;
  height:41px;
  padding-top:undefinedpx;
  padding-bottom:undefinedpx;
  font-size:15px;
  font-family:'Open Sans', sans-serif;
  color:#ffffff;
  background:#c7c7c7;
  -webkit-box-shadow: 0px 4px 0px 0px #a7a7a7;
  -moz-box-shadow:0px 4px 0px 0px #a7a7a7;
  box-shadow:0px 4px 0px 0px #a7a7a7;
  display:inline-block;
  }.DeactiveButton:hover{
  background:#ffc319;
  text-decoration: none;
  color:white;
  -webkit-box-shadow: 0px 4px 0px 0px #D18B19;
  -moz-box-shadow:0px 4px 0px 0px #D18B19;
  box-shadow:0px 4px 0px 0px #D18B19;
}

.tab_table {
	margin:0px;padding:0px;
	width:100%;
	border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tab_table table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tab_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tab_table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tab_table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tab_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tab_table tr:hover td{
	background-color:#ffffff;
		

}
.tab_table td{
	vertical-align:middle;
	
	background-color:#f4f4f4;

	border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:16px;
	font-size:15px;
	font-family:'Open Sans', sans-serif;
	font-weight:normal;
	color:#000000;
}.tab_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tab_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tab_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

