<footer class="footer">
  <small>
<%= "Some cute pic here - logo? not sure" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://bbc.co.uk/news/">News</a></li>
    </ul>
  </nav>
  <%= yield :scripts %>
</footer>
